.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.RDataTmp
*.RDS
*.html # TODO: remove this and publish the html files before publication. But useful to exclude during development.
images_to_export/QC_mito_violin.png
images_to_export/QC_mito_graph.png
images_to_export/QC_failed_position.png
images_to_export/QC_failed_plates.png
images_to_export/QC_composite_plot.png
images_to_export/QC_by_genotype.png
images_to_export/QC_10X_composite_plot.png
images_to_export/platemap_no_count.png
images_to_export/platemap_failed_qc.png
images_to_export/barcode_plot_5k.png
data_to_export/pb_sex_filtered.RDS
images_to_export/barcode_plot_5k.png
images_to_export/QC_10X_composite_plot.png
quality_control/GCSKO_SS2_QC.utf8.md
quality_control/GCSKO_SS2_QC.nb.html
quality_control/GCSKO_SS2_QC.knit.md
quality_control/GCSKO_SS2_QC.nb.html
data_to_export/ss2_mutants_final.RDS
quality_control/GCSKO_SS2_QC.nb.html
data/Genotyping/Coverage_plots.RData