.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.RDataTmp
# file extensions:
*.RDS
*.html # TODO: remove this and publish the html files before publication. But useful to exclude during development.
# folders:
/images_to_export
/archive
/images_to_export
# files:
data_to_export/pb_sex_filtered.RDS
quality_control/GCSKO_SS2_QC.utf8.md
quality_control/GCSKO_SS2_QC.nb.html
quality_control/GCSKO_SS2_QC.knit.md
quality_control/GCSKO_SS2_QC.nb.html
data_to_export/ss2_mutants_final.RDS
quality_control/GCSKO_SS2_QC.nb.html
data/Genotyping/Coverage_plots.RData
data_to_export/mca_website_combined.csv
data_to_export/mca_website_counts.csv
